<div class="title"><a href='/'>Seth Josel</a></div>
<input type="checkbox" class="toggler">
<div class="hamburger">
    <div></div>
</div>
<div class="menu">
    <div>
        <ul>
            <li><a href='/biography/'>Biography</a></li>
            <!-- <li><a href='#'>Curriculum vitae</a></li> -->
            <li><a href='/repertoire/'>Repertoire</a></li>
            <li><a href='/calendar/'>Calendar</a></li>
            <!-- <li><a href='#'>Publications</a></li>
            <li><a href='#'>Press</a></li>
            <li><a href='#'>Images</a></li>
            <li><a href='#'>Discography</a></li>
            <li><a href='#'>Excerpts</a></li>
            <li><a href='#'>Gear</a></li>
            <li><a href='#'>Contact</a></li> -->
        </ul>
    </div>
</div>