<div class="title">
    <a href='../'>Seth Josel</a>
    <div class="alt-menu">
        <a href='biography/'>Biography</a>&nbsp;&nbsp;&nbsp;
        <a href='repertoire/'>Repertoire</a>&nbsp;&nbsp;&nbsp;
        <a href='calendar/'>Calendar</a>&nbsp;&nbsp;&nbsp;
        <a href='discography/'>Discography</a>&nbsp;&nbsp;&nbsp;
        <a href='publication/'>Publications</a>&nbsp;&nbsp;&nbsp;
        <a href='press/'>Press</a>&nbsp;&nbsp;&nbsp;
        <a href='gear/'>Gear</a>&nbsp;&nbsp;&nbsp;
        <a href='contact/'>Contact</a>
    </div>
</div>

<input type="checkbox" class="toggler">
<div class="hamburger">
    <div></div>
</div>
<div class="menu">
    <div>
        <ul>
            <li><a href='biography/'>Biography</a></li>
            <li><a href='repertoire/'>Repertoire</a></li>
            <li><a href='calendar/'>Calendar</a></li>
            <li><a href='discography/'>Discography</a></li>
            <li><a href='publication/'>Publications</a></li>
            <li><a href='press/'>Press</a></li>
            <li><a href='gear/'>Gear</a></li>
            <li><a href='contact/'>Contact</a></li>
        </ul>
    </div>
</div>