<div class="title">
    <a href='../'>SETH JOSEL</a>
    <div class="alt-menu">
        <a href='../biography/'>Biography</a>&nbsp;&nbsp;&bull;&nbsp;
        <a href='../repertoire/'>Repertoire</a>&nbsp;&nbsp;&bull;&nbsp;
        <a href='../calendar/'>Calendar</a>&nbsp;&nbsp;&bull;&nbsp;
        <a href='../discography/'>Discography</a>&nbsp;&nbsp;&bull;&nbsp;
        <a href='#'>Publications</a>&nbsp;&nbsp;&bull;&nbsp;
        <a href='../press/'>Press</a>&nbsp;&nbsp;&bull;&nbsp;
        <a href='../gear/'>Gear</a>&nbsp;&nbsp;&bull;&nbsp;
        <a href='../contact/'>Contact</a>
    </div>
</div>

<input type="checkbox" class="toggler">
<div class="hamburger">
    <div></div>
</div>
<div class="menu">
    <div>
        <ul>
            <li><a href='../biography/'>Biography</a></li>
            <li><a href='../repertoire/'>Repertoire</a></li>
            <li><a href='../calendar/'>Calendar</a></li>
            <li><a href='../discography/'>Discography</a></li>
            <li><a href='../press/'>Press</a></li>
            <li><a href='../gear/'>Gear</a></li>
            <li><a href='../contact/'>Contact</a></li>
        </ul>
    </div>
</div>